<form [formGroup]="formData" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <textarea matInput formControlName="postalCode"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Province / Territories</mat-label>
        <select matNativeControl formControlName="province">
            <option value="AB">Alberta</option>
            <option value="BC">British Columbia</option>
            <option value="MB">Manitoba</option>
            <option value="NB">New Brunswick</option>
            <option value="NL">Newfoundland and Labrador</option>
            <option value="NS">Nova Scotia</option>
            <option value="ON">Ontario</option>
            <option value="PE">Prince Edward Island</option>
            <option value="QC">Quebec</option>
            <option value="SK">Saskatchewan</option>
            <option value="NT">Northwest Territories</option>
            <option value="NU">Nunavut</option>
            <option value="YT">Yukon</option>
        </select>
    </mat-form-field>
</form>